[apply]
	whitespace = fix

[core]
#	excludesfile = ~/.gitignore-global
	attributesfile = ~/.gitattributes
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	trustctime = false
	editor = vim
	autocrlf = input
	eol = lf

[init]
	defaultBranch = master

[diff]
	renames = copies

[help]
	autocorrect = 1

[color]
	ui = auto

[user]
	signingkey = DD0C889CA2EDCDDE
	name = Filiph Siitam Sandström
	email = filiph@nordcom.io

[commit]
	gpgsign = true

[pull]
	rebase = true

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
